asposestorage==1.0.2
beautifulsoup4==4.14.2
openai==1.107.3
loguru==0.7.3
numpy==2.3.4
pandas==2.3.3
pydantic==2.12.3
pygame==2.6.1
Requests==2.32.5
scipy==1.15.2
sentence_transformers==5.1.2
sounddevice==0.5.2
soundfile==0.13.1
SQLAlchemy==1.4.31
aistudio-sdk==0.2.6
websockets==15.0.1
edge-tts==6.1.19
onnxruntime==1.23.1
transformers==4.46.3
